@model int


<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class=" text-white text-center">Order Placed Successfully</h1>
        <h3 class="text-white">Your Order Number is : @Model<br /><br /></h3>
        <img src="~/images/sucess.jpg" width="65%" />
    </div>

    <div class="col-12 text-center" style="color:yellow">
        <br />
        Your order has been placed successfully!!! <br />
    </div>
</div>
